# Secrets
.env

# Data
Data/raw/*
Data/processed/*
Data/chunks/*
!Data/raw/.gitkeep
!Data/processed/.gitkeep
!Data/chunks/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/

# Editor
.vscode/

# OS
.DS_Store
